
.home_articeles{
    display: flex;
    margin-top: 0;
}
.home_articele{
    display: block;
    margin-top: 0px
}
h2{
    margin-top: 40px;
    margin-left: 210px;
}
.myBlog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:30px ;
    width: 80%;
    margin: auto;
}