*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    
    
    position: relative;
}

nav{
    margin: auto;
    /* background-color: pink; */
    width: 80vw;
    /* overflow: hidden; */
    
}
.nav_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: fixed; */
    height: 60px;
    background-color: white;
}
.logo{
    font-weight: bolder;
    font-size: 42px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.left_nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.right_nav{
    position: relative;
    right: 0;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px;
}
li {
   padding: 15px;
   cursor: pointer;
   font-weight: 600;
   font-size: 24px;
}
.Contact{
    
    color: rgb(0, 0, 0);
}
input{
    padding: 2px 10px;
    margin-right: 5px;
    border-radius: 12px;
    width: 311px;
    height: 38px;
}
#btn{
    border: 1px solid black;
    padding: 2px 6px;
    margin-right: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 84px;
    height: 36px
}
hr{
    margin: auto;
    width: 80%;
    box-shadow: 1px 1px 5px rgb(175, 175, 255) ;
}


.content{
    /* background-color: rgb(253, 253, 253); */
    /* height: 36vh; */
    width: 80vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    transition: 0.3s ease;
    border-radius: 30px;
    border-bottom: 1px solid rgb(208, 158, 255);
}

.content_left{
    width: 50%;
    padding: 20px;
    transition: 0.3s ease;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    border-radius: 30px;
    margin-left: 10px
}
.content_left p{
    padding: 10px;
}
.content_right{
    padding: 20px;
    margin-left: 170px;
    border-radius: 30px;
}
.content_right img{
    height: 200px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.content_left:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 6px rgb(212, 208, 255);
}
.content_right img:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 6px rgb(212, 208, 255);
}
.content:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 6px rgb(212, 208, 255);
}
#btn:hover{
    color: white;
    background-color: rgb(132, 132, 250);
   
}
li a:hover{
    color: rgb(77, 77, 246);
    
}
.home_articele:hover{
    box-shadow: 1px 1px 10px rgb(212, 208, 255);
    transform: translateX(5px);
}

.home_articeles{
    /* background-color: pink; */
    width: 80%;
    /* height: 400px; */
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    

}
.home_articele{
    display: flex;
    align-items: center;
    margin: 40px;
    transition: 0.3s ease;
}
.home_artical_img img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
.home_artical_content{
    align-items: center;
    padding: 15px;
}
.home_artical_content a h3{
    padding-bottom: 15px;
    color: black;
}








footer{
    background-color: rgb(83, 146, 255);
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
footer p,a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: rgb(0, 0, 0);
}